/*
 * Property list from WebPlatform docs:
 * http://docs.webplatform.org/Special:Ask/-5B-5BCategory:CSS%20Properties-5D-5D/format=json/limit=500/offset=0/link=none/headers=hide/syntax=basic/prettyprint=yes/
 *
 */

* {
  align-content: initial;
  align-items: initial;
  align-self: initial;
  alignment-adjust: initial;
  alignment-baseline: initial;
  all-space-treatment: initial;
  animation: initial;
  animation-delay: initial;
  animation-direction: initial;
  animation-duration: initial;
  animation-fill-mode: initial;
  animation-iteration-count: initial;
  animation-name: initial;
  animation-play-state: initial;
  animation-timing-function: initial;
  appearance: initial;
  backface-visibility: initial;
  background: initial;
  background-attachment: initial;
  background-blend-mode: initial;
  background-clip: initial;
  background-color: initial;
  background-composite: initial;
  background-image: initial;
  background-origin: initial;
  background-position: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-repeat: initial;
  background-size: initial;
  baseline-shift: initial;
  behavior: initial;
  block-progression: initial;
  border: initial;
  border-bottom: initial;
  border-bottom-color: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-collapse: initial;
  border-color: initial;
  border-corner-shape: initial;
  border-image: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left: initial;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-radius: initial;
  border-right: initial;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-spacing: initial;
  border-style: initial;
  border-top: initial;
  border-top-color: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-width: initial;
  bottom: initial;
  box-decoration-break: initial;
  box-direction: initial;
  box-flex: initial;
  box-line-progression: initial;
  box-lines: initial;
  box-ordinal-group: initial;
  box-orient: initial;
  box-pack: initial;
  box-shadow: initial;
  box-sizing: initial;
  break-after: initial;
  break-before: initial;
  break-inside: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  clip-path: initial;
  clip-rule: initial;
  color: initial;
  column-count: initial;
  column-fill: initial;
  column-gap: initial;
  column-rule: initial;
  column-rule-color: initial;
  column-rule-style: initial;
  column-rule-width: initial;
  column-span: initial;
  column-width: initial;
  columns: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  empty-cells: initial;
  filter: initial;
  flex: initial;
  flex-basis: initial;
  flex-direction: initial;
  flex-flow: initial;
  flex-grow: initial;
  flex-shrink: initial;
  flex-wrap: initial;
  float: initial;
  flow-from: initial;
  flow-into: initial;
  font: initial;
  font-family: initial;
  font-feature-settings: initial;
  font-size: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  grid: initial;
  grid-area: initial;
  grid-auto-columns: initial;
  grid-auto-flow: initial;
  grid-auto-position: initial;
  grid-auto-rows: initial;
  grid-column: initial;
  grid-column-end: initial;
  grid-column-position: initial;
  grid-column-span: initial;
  grid-column-start: initial;
  grid-definition-columns: initial;
  grid-definition-rows: initial;
  grid-row: initial;
  grid-row-end: initial;
  grid-row-position: initial;
  grid-row-span: initial;
  grid-row-start: initial;
  grid-span: initial;
  grid-template: initial;
  grid-template-areas: initial;
  grid-template-columns: initial;
  grid-template-rows: initial;
  hanging-punctuation: initial;
  height: initial;
  hyphenate-limit-chars: initial;
  hyphenate-limit-lines: initial;
  hyphenate-limit-zone: initial;
  hyphens: initial;
  ime-mode: initial;
  justify-content: initial;
  kerning-mode: initial;
  kerning-pair-threshold: initial;
  knock-out: initial;
  layout-flow: initial;
  layout-grid: initial;
  layout-grid-char: initial;
  layout-grid-line: initial;
  layout-grid-mode: initial;
  layout-grid-type: initial;
  left: initial;
  letter-spacing: initial;
  line-break: initial;
  line-height: initial;
  list-style: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  margin: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: initial;
  marquee-direction: initial;
  marquee-play-count: initial;
  marquee-speed: initial;
  marquee-style: initial;
  mask: initial;
  mask-box-image: initial;
  mask-box-image-outset: initial;
  mask-box-image-repeat: initial;
  mask-box-image-slice: initial;
  mask-box-image-source: initial;
  mask-box-image-width: initial;
  mask-clip: initial;
  mask-image: initial;
  mask-origin: initial;
  mask-position: initial;
  mask-repeat: initial;
  mask-size: initial;
  mask-source-type: initial;
  mask-type: initial;
  max-font-size: initial;
  max-height: initial;
  max-width: initial;
  min-font-size: initial;
  min-height: initial;
  min-width: initial;
  ms-grid-columns: initial;
  ms-grid-row: initial;
  ms-grid-row-align: initial;
  ms-grid-row-span: initial;
  ms-grid-rows: initial;
  ms-scroll-chaining: initial;
  ms-scroll-limit: initial;
  ms-scroll-limit-xMax: initial;
  ms-scroll-limit-xMin: initial;
  ms-scroll-limit-yMax: initial;
  ms-scroll-limit-yMin: initial;
  ms-scroll-rails: initial;
  ms-scroll-snap-points-x: initial;
  ms-scroll-snap-points-y: initial;
  ms-scroll-snap-type: initial;
  ms-scroll-snap-x: initial;
  ms-scroll-snap-y: initial;
  ms-scroll-translation: initial;
  ms-touch-select: initial;
  object-fit: initial;
  opacity: initial;
  order: initial;
  orphans: initial;
  outline: initial;
  outline-color: initial;
  outline-offset: initial;
  outline-style: initial;
  outline-width: initial;
  overflow: initial;
  overflow-style: initial;
  overflow-wrap: initial;
  overflow-x: initial;
  overflow-y: initial;
  padding: initial;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  pointer-events: initial;
  position: initial;
  punctuation-trim: initial;
  quotes: initial;
  region-fragment: initial;
  region-overflow: initial;
  right: initial;
  ruby-align: initial;
  ruby-overhang: initial;
  ruby-position: initial;
  shape-image-threshold: initial;
  shape-inside: initial;
  shape-margin: initial;
  shape-outside: initial;
  shape-padding: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-align-last: initial;
  text-autospace: initial;
  text-decoration: initial;
  text-decoration-blink: initial;
  text-decoration-color: initial;
  text-decoration-line: initial;
  text-decoration-line-through: initial;
  text-decoration-none: initial;
  text-decoration-overline: initial;
  text-decoration-skip: initial;
  text-decoration-style: initial;
  text-decoration-underline: initial;
  text-emphasis: initial;
  text-emphasis-color: initial;
  text-emphasis-style: initial;
  text-height: initial;
  text-indent: initial;
  text-justify: initial;
  text-justify-trim: initial;
  text-kashida-space: initial;
  text-line-through: initial;
  text-line-through-color: initial;
  text-line-through-mode: initial;
  text-line-through-style: initial;
  text-line-through-width: initial;
  text-overflow: initial;
  text-overflow-ellipsis: initial;
  text-overflow-mode: initial;
  text-overline: initial;
  text-overline-color: initial;
  text-overline-mode: initial;
  text-overline-style: initial;
  text-overline-width: initial;
  text-rendering: initial;
  text-script: initial;
  text-shadow: initial;
  text-transform: initial;
  text-underline: initial;
  text-underline-position: initial;
  text-underline-style: initial;
  text-underline-width: initial;
  top: initial;
  touch-action: initial;
  transform: initial;
  transform-origin: initial;
  transform-origin-z: initial;
  transform-style: initial;
  transition: initial;
  transition-delay: initial;
  transition-duration: initial;
  transition-property: initial;
  transition-timing-function: initial;
  unicode-bidi: initial;
  unicode-range: initial;
  user-focus: initial;
  user-input: initial;
  user-modify: initial;
  user-select: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  white-space-treatment: initial;
  widows: initial;
  width: initial;
  word-break: initial;
  word-break-inside: initial;
  word-spacing: initial;
  word-wrap: initial;
  wrap-flow: initial;
  wrap-margin: initial;
  wrap-option: initial;
  wrap-through: initial;
  writing-mode: initial;
  z-index: initial;
}
